
.student_or_staffmain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
.student_or_staffh2 {
        text-align: center;
        font-weight: 100;
        font-size: 35px;
      }
.student_or_staffh2in {    
        text-align: center;
        font-size: 30px;
        line-height: 3;
      }