
.student_or_staffmain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
.student_or_staffh2 {
        text-align: center;
        font-weight: 100;
        font-size: 35px;
      }
.student_or_staffh2in {    
        text-align: center;
        font-size: 30px;
        line-height: 3;
      }

/* 
.Login.button.fredoka_font {
  font-family: 'Fredoka One', cursive;

} */



/* 



*/

.history_main {
  margin: 20px;
  /* background: lavender; */
  width: 80vw;
  height: 100vh;
}

.history_main_in .h2{

  
  font-family: 'Titan One', cursive;
  letter-spacing: 3px;
  font-size: 40px;

}
.history_main_in p{

  
  font-size: 24px;

}

.history_main_head {
  display: flex;
  justify-content: space-between;
}

.history_main_active {
  background: none;
  color: blue;
}

.history_main_head input {
  border: 2px solid blue !important;
}
.history_main_head button {
  font-size: 16px;
}