
      /* h1, h2 {
        margin-top: 48px;
      }
       */

       .sticky-header {
               width: 100%;
       }

      .table-wrapper {
        height: 320px;
        border: 1px solid var(--borderColor);
        overflow: auto;
      }
      
      table {
        border-spacing: 0;
      }
      
      thead {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
      
      tbody {
        font-size: 14px;
      }
      
      th, td {
        padding: 18px 24px;
        white-space: nowrap;
        border-bottom: 1px solid var(--borderColor);
        text-align: center;
      }
      
      tr:last-child td {
        border: none;
      }
      
      
      /*
      STICKY HEADER
      Normal css box-shadow works for the header as it is a single html element
      */
      
      .sticky-header thead {
        position: sticky;
        top: 0;
        z-index: 1;
        box-shadow: 0 0 6px rgba(0,0,0,0.25);
        background: blue;
        color: white;
      }
      
      