
.student_home.main {
        display: flex;
}
.student_home.nav {
        background: blue;
        width: 200px;
}

.student_home.wrap {
        display: flex;
        justify-content: center;
}
.student_home.stats {
        width: 80vw;
}