.firstpage_border_spacing {
        border: 4px solid black;
        padding: 20px;    
        width: 300px;
}

.firstpage_first_flex {
        display: flex;
        justify-content: space-between;
}
.rotate_firstpage_border {

        transform: rotate(-90deg);

}
.firstpage_seconddiv_first_flex {    
        margin-top: 60px;
        padding-top: 60px;
}
.firstpage_end h2 {
        font-size: 40px;
        text-align: center;
        font-weight: 900;
}
.firstpage_end_border {
        
    border: 4px solid black;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: center;
}

.firstpage_thirddiv_first_flex label, input {
        color: black;
        border-bottom: 2px solid black !important;
}